<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>__MSG_extName__</title>
    <link rel="stylesheet" type="text/css" href="../css/pageaction.css">
  </head>

  <body class="options">

    <header>
      <div class="header-center">
        <a id="button-settings" class="active" href="#">__MSG_paSettings__</a>
        <a id="button-help" href="#">__MSG_opHelp__</a>
      </div>
    </header>

    <div class="main-container-settings">

      <div class="container-loading">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <p>__MSG_loadingExtension__</p>
      </div>

      <div class="container-protected" style="display: none;">
        <h2>&#128274;</h2>
        <p>__MSG_opLoginDescription__</p>
        <p class="login-error" style="display: none;">__MSG_wrongPassword__</p>
        <form class="login-form">
          <p><input type="password" name="password"><input type="submit" value="__MSG_paLogin__"></p>
        </form>
      </div>

      <div class="container-settings" style="display: none;">
        <article>
          <h2>__MSG_opHi__</h2>
          <p>__MSG_opHiDescription__</p>
        </article>

        <article>
          <h2>__MSG_opIcon__</h2>
          <p class="description">__MSG_opIconDescription__</p>
          <p><label><input type="checkbox" id="change-icon-visibility" value="1"> __MSG_opIconLabel__</label></p>
        </article>

        <article>
          <h2>__MSG_opRedirect__</h2>
          <p class="description">__MSG_opRedirectDescription__</p>
          <p><label><input type="checkbox" id="change-redirect" value="1"> __MSG_opRedirectLabel__</label></p>
        </article>

        <article>
          <h2>__MSG_opPassword__</h2>
          <p class="description">__MSG_opPasswordDescription__</p>
          <p id="password-error"></p>
          <form id="change-password">
            <p>
              <label>__MSG_opPasswordCurrent__</label>
              <input type="password" name="oldpassword"><br>
              <label>__MSG_opPasswordNew1__</label>
              <input type="password" name="newpassword1"><br>
              <label>__MSG_opPasswordNew2__</label>
              <input type="password" name="newpassword2">
            </p>
            <p style="text-align: right;"><input type="submit" name="changepassword" value="__MSG_opPasswordChange__"></p>
          </form>
        </article>
      </div>

    </div>

    <div class="main-container-help" style="display: none;">

      <article>
        <span>Unfortunately, this page is available in English only. If you have a question that is not answered in the list below, please contact me via <a href="mailto:timtag1190@gmail.com">e-mail</a>.</span>
      </article>

      <article>
        <h2>What does this extension do?</h2>
        <span>The extension hides videos on YouTube based on (specific words in) their channel name or title.</span>
      </article>

      <article>
        <h2>How do I specify which videos to hide?</h2>
        <span>Three types of items can be added to your 'blocked' list: channel, wildcard, and keyword. All of these items can be added via the extension's control panel, which is opened by clicking the extension's icon in the toolbar. Channels can also be added via a right click on a video thumbnail and selecting 'Block videos from this channel' (however, this does not always work 100%).</span>
      </article>

      <article>
        <h2>What is a 'channel'?</h2>
        <span>The channel item looks at the display name of the uploader of a video. The display name can differ from what you see in the address bar when visiting a channel, so don't let that mislead you.</span>
      </article>

      <article>
        <h2>What is a 'wildcard'?</h2>
        <span>The wildcard item looks, just like the channel item, at the display name of the uploader of a video. The only difference is that a wildcard item will hide videos by channels that contain the wildcard in their display name. Whereas the channel item needs to 100% match the uploaders channel name.</span>
      </article>

      <article>
        <h2>What is a 'keyword'?</h2>
        <span>The keyword item looks at the video titles. If the video title contains a keyword item, it will be hidden from the page.</span>
      </article>

      <article>
        <h2>Can I use regular expressions to hide videos?</h2>
        <span>Yes. Channel and keyword items can be added with a regular expression by using the format <strong>/expression/flags</strong>. The flags at the end of the format are not neccesary (however, the trailing / is). Regular expressions will not work for wildcard items as they are actually a simple kind of regular expression by themselves.</span>
      </article>

      <article>
        <h2>How do I remove an item from my 'blocked' list?</h2>
        <span>You can delete an item by clicking the 'X' next to it in the list or by emptying the whole list.</span>
      </article>

      <article>
        <h2>Additional notes:</h2>
        <span>This extension has been tested thoroughly, however, I am not responsible for any 'damage' caused by it. Also, I am not responsible for the (accidental) loss of your blocked items when this happens for any reason (including after an automatic update of the extension). If you don't like this extension, just remove it from your browser. This extension is not part of YouTube LLC in any form or manner. It is merely an attempt to provide a slightly better experience to its users.</span>
      </article>

    </div>

    <footer>
      &nbsp;
    </footer>

    <script type="text/javascript" src="../js/utilities.js"></script>
    <script type="text/javascript" src="../js/options.js"></script>
  </body>

</html>